node_modules
vendor
.git
.env
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
public/hot
public/storage
public/build
Dockerfile
.dockerignore
